@keyframes load-spin {
	to {
		transform: rotate(1turn);
	}
}

.main {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: conic-gradient(#0000 10%, #1565c0);
	mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
	animation: load-spin 0.8s infinite linear;
	margin: auto;
}
